body {
  height: 100%;
  width: 100%;
}
#header {
  position:absolute;
  left: 1%;
  height: 10%;
}
#content {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 1%;
  right: 0%;
  overflow:auto;
}
#footer {
  position: absolute;
  bottom: 0%;
  height: 10%;
  left: 1%;
  overflow: hidden;
}
